doctype html
html
	head
		title IITH Gymkhana Election
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/images/logo.png')
	body
		block content
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="/javascripts/global.js")