body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#000;
  color:#00B7FF;
  text-align:center;
  font-family:'Roboto',serif;
  width:80%;
  margin:auto;
}

h1, h2, h3, h4, h5, h6{
	font-weight:300;
}

h2 {
	margin:0 0 .5em 0;
}

h5{
	color:#fff;
}

a {
  color: #00B7FF;
}

button{
	position:relative;
	top:30px;
}

.btn{
	background-color:#1a237e;
}

.btn:hover{
	background-color:#303f9f;
}

.message{
	color:red;
	visibility:hidden;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}
